.nav{
    text-decoration: none;
    color: transparent;
    display: flex;
    position: fixed;
    left:0;
    width: 100%;
    background-color: #01050d;
    fill: #768a92;
    padding: 0.5rem;
    z-index: 200;

}
.bottom-nav{
    bottom: 0;
    justify-content: space-around;
    // box-shadow:0px 0px 8px 5px #080f1f;

    color: red;
    svg{
        fill: #768a92;
    }
    
}
.top-nav{
    top: 0;
    padding: 0.5rem 1.4rem;
    justify-content: space-between;
    color: rgb(58, 113, 175);   
    font-family: 'Anton', sans-serif;
    letter-spacing: .8rem;
}

@media screen and (min-width:500px){
    .nav{
        display: none;
    }
}