.nominee-item{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 12px 10px 5px rgba(0, 0, 0, 0.432);
    position: relative;

    & .nominee-img{
        background: url('/user.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: .8s;

        &:hover{
            opacity: 1;
            transform:scale(1.1);
            overflow: hidden;
        }   

    }

    .nominee-name{
        text-align: center;
        background-color: rgba(15, 96, 143, 0.699);
        width: 100%;
        font-size: 1.5rem;
        transition: 1s all;
        opacity: 0.5;
        position: absolute;
        
    }

    button{
        font-size: 2rem;
        background-color: rgba(13, 13, 31, 0.801);
        position: absolute;
        bottom: 0;
    }

    .nominee-votes{
        position: absolute;
        top: 50%;
        left:1rem;
        font-size: 2rem;
        color: white;
    }
}