.nominee-item{
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 3px dotted #2bace2;
    position: relative;
    
    .img-container{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .nominee-img{
        background: url('/user.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: .8s;

        &:hover{
            opacity: 1;
            transform:scale(1.1);
        }   

    }
    .card-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color:#b3e5fc;
    }
    .nominee-name{
        font-size: 1.1rem;
        padding-left: 1rem;
        transition: 1s all; 
    }

    button{
        animation: unset;
        font-size: 1rem;
        background-color: rgb(13, 13, 31);
        transition: border-radius 1s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                    transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        ;

        &:disabled{
            border-radius: 2rem;
            background-color: lighten($color: #0d0d1fcc, $amount: 5) ;
            transform: rotate(360deg) scale(0.81);            
        }
    }

    .nominee-votes{
        position: absolute;
        top: 50%;
        left:2rem;
        font-size: 2rem;
        color: white;
        font-family: 'Orbitron', sans-serif;
        transform: scale(2);
        opacity: 0.8;
    }
}

    .voting-loader{
        display: none;
        position: absolute;
        top: 10px;
        width: 100%;
        background: rgb(14,83,147);
        background: linear-gradient(98deg, #ad1457 20%, rgb(81, 172, 214) 89%); 
        transform-origin: left;
        height: 2px;
        transform: scaleX(0);
        position: relative;
        animation: votingAnimation .8s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite;
        &::after{
            position: absolute;
            color: white;
            right: 40%;
            top: -10px;
            content:'.';
            font-size: 14px;
            width: 3rem;
            transform: scaleY(.34);
            background-color: #ad1457;
            box-shadow: 0px 1px 20px 10px rgba(18, 34, 173, 0.452);
        }
        @keyframes votingAnimation {
            0%, 100%{
                transform: scaleX(.2) translate(0);
            }
            50%{
                transform: scaleX(.4) translateX(50%);
                opacity: 0.1;
            }
            70%{
                transform: scale(.5) translate(80%);
                opacity: 0.7;
            }
        }
    }