.switch{
    padding:.4rem;
    color: white;
    font-size: 1rem;
    width: fit-content;
    margin: 2rem 0 0 auto;
    cursor: pointer;
    transition: .2s;
    animation: colorSwitch 20s infinite;
    @keyframes colorSwitch {
        0%,100%{
            background: #c2185b;
        }50%{
            background-color: #283593;
        }
    }
    &:hover{
        transform: scale(.9);
    }
    @media (max-width:500px){
        bottom: 25%;
        cursor: default;
    }
}