.nominee-page{
    background-color: rgb(22, 25, 36);
    height: 100%;
    overflow-y: scroll;
    position: relative;
    padding-top: 1rem;
    @media screen and (max-width:800px){
        padding: 4rem 0 5rem 0;
    }
    .nav-back{
        position: absolute;
        z-index: 12;
        width: 3rem;
        left: 1rem;
        fill: #2bace2;
        flex: 1 1;
        cursor: pointer;    
        transition: .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        &:hover{
            transform: scale(1.2) translateX(-5px);
            fill: darken($color: #2bace2, $amount: 10);
        }    
    }   

    .position-title{
        color: #768a92;
        font-size: 1.4rem;
        margin: 0 auto;    
        cursor: pointer;
        display: inline-block;
        &:hover{
            text-decoration: double underline;
        };
    }
    .nominee-items{
        max-width: 80%;
        margin: 4rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-auto-rows: minmax(25rem, auto);

        @media screen and (max-width:800px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width:600px){
            grid-template-columns: repeat(1, 1fr);
            gap:3.5rem 0;
        }
    }
}