.profile-page{
    width:100%;
    padding: 1rem 0rem;
    background-color:white;
    user-select: none;
    min-height: 100vh;
    @media screen and (max-width: 500px){
        padding: 5rem 0rem;
    }
    & .top-content{
        flex-direction: column;
        line-height: 2rem;
        padding: 0rem 1rem;
    }
    
    .username{
        text-transform: lowercase;
        color: rgb(34, 34, 34);
        margin-bottom:.5rem 0;
    }

    .sub-head{
        font-weight: 700;
        margin: .3rem 0 0rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    hr{
        background-color: blue;
    }

    .btn-container{
        display: flex;
        justify-content: flex-start;
        margin: 1.5rem 0 4rem;
        
        & button{
            margin-right: 1.2rem;
        }
    }

    .event-items{
        max-width: 70rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,20rem));
        grid-auto-columns: 20rem;
        margin: 1rem auto 2rem;
        justify-content: center;
        grid-auto-rows: auto;
        gap: 3rem 2rem;

        @media screen and (max-width: 1000px){
            grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
            gap: 1rem
        }
        @media screen and (max-width: 700px){
            grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
        }
        @media screen and (max-width: 600px){
            grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
            gap:1rem;
            padding: 0;
        }
        @media screen and (max-width: 500px){
            grid-template-columns: repeat(3, minmax(10rem, 10rem));
            grid-auto-rows: auto;
            gap:.2rem;
            padding: 0rem;

        }

        a{
            @media screen and (max-width: 500px){
                border: 1px solid rgb(25, 33, 141);
                height: 10rem;

                .event-content{
                    display: none;                
                }

                .event-image{
                    height: 10rem;
                }

            }
        }

    }
}