.event-form{
    .file-name{
        font-size: 0.85rem;
        color: var(--red);
    }
    .date{
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ad1457;
        padding:.2rem;
        font-size: 1.2rem;
        background-color: white;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
    }
    .image-container{
        min-height: fit-content;
        max-width: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: rgb(224, 224, 224);
        
        margin-bottom: 2rem;

        img{
            max-height: 20rem;
        }
    }
    .progress-bar{
        display: block;
        margin: 2rem auto 0;
        height: 2rem;
        width: 100%;
    }
    .btn-container{
        text-align: center;
        margin: 8rem auto;
    }

    label{
        color: grey;
        font-weight: 700;
    }

    canvas{
        // width: 100%;
    }
}