.side-nav{
    background-color: #01050d;
    flex: 0 0 10%;
    // min-width: 12%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & .side-list{        
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }

    .nav-item{
        position: relative;
    
        span{
            font-size: .8rem;
        }

        &:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover{
            color: black;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 5px;
            background-color: var(--blue-grey-primary);
            transform: scaleY(0);
            transform-origin: left;
            transition: transform .2s, width .3s cubic-bezier(1, -0.28, 0, 1) .2s
        }

        &:hover::before,
        &.nav-item--active::before {
            transform: scaleY(1);
            width: 100%;
        }
    }

    .active-link {
        color:white;
        background-color: var(--blue-grey-primary)!important;
    }

    .nav-link:link,
    .nav-link:visited,
    .user-pop:link,
    .user-pop:visited{
        text-decoration: none;
        color: #edf6ff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        transition: color .2s .2s;

        &:hover{
            color:#60c9f5;
        }
    }
    
    .svg-icon{
        width: 1.2rem;
        height: 2rem;
        fill: currentColor;
    }

    & .user{
        cursor: pointer;
        font-size: .6rem;
        color: #edf6ff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        transition: color .2s .2s;
    }

    & .legal{
        font-size: .8rem;
        text-align: center;
        padding: 1.5rem;
        color: rgb(97, 94, 94);
    }

    & .logo{
        width: 9rem;
        margin: 2rem auto 0 auto;
    }
   @media screen and (max-width: 500px) {
        display:none;
        
   }
}