.side-nav{
    background-color: var(--blue-grey-dark);
    flex: 0 12 20%;
    height: 100vh;  
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & .side-list{        
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        align-items: center;
    }

    .nav-item{
        position: relative;

        span{
            font-size: 1rem;
        }

        &:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover{
            color: #043346;
        }

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 5px;
            background-color: var(--blue-grey-primary);
            transform: scaleY(0);
            transform-origin: left;
            transition: transform .2s, width .4s cubic-bezier(1, -0.28, 0, 1) .2s
        }

        &:hover::before,
        &:active::before{
            transform: scaleY(1);
            width: 100%;
        }
    }

    .nav-link:link,
    .nav-link:visited{
        text-decoration: none;
        color: #edf6ff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;

        
    }

    & .svg-icon{
        width: 1.2rem;
        height: 2rem;
        fill: currentColor;
    }

    & .user{

    }

    & .legal{
        font-size: 1rem;
        text-align: center;
        padding: 2.5rem;
        color: rgb(97, 94, 94);
    }

    .logo{
        width: 10rem;
        margin: 2rem auto 0 auto;
    }
   
}