.app{
  position: unset;
  margin: 0rem auto;
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  /* overflow-y: scroll; */
}

.content{ 
  display: flex;
  max-width: 100rem;
  margin: auto;
}

