.events-page{
    background-color: white;
    height: 100%;
    // padding: 0rem 2rem 0rem 2rem;

    @media screen and (max-width: 800px){
        padding:1rem;
    }
    @media screen and (max-width: 600px){
        padding:0 .5rem;
    }
}

.event-content-all{
    


    @media screen and (max-width:600px){
        margin:4rem 0 10rem ;
    }
}

.top-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.refresh-svg{
    width: 3rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: 2rem;
    display: block;
    fill: red;
    transition: .4s ease-in-out;

    &:hover{
        transform: rotate(180deg);
    }
}
.search{
    margin-top: 0rem;
    margin-left: 2rem;
    input,
    input:focus,
    input:active{
        min-width: 10rem;
        max-width: 20rem;
        font-size: 1.3rem;
        border: none;
        border-bottom: 2px solid #2bace2;
        margin-top: 0.5rem !important;
    }

    
}

.events-items{
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,20rem));
    grid-auto-columns: 20rem;
    margin: 0 auto 2rem;
    justify-content: center;
    grid-auto-rows: auto;
    gap: 3rem 2rem;

    @media screen and (max-width:800px) {
        gap: 2rem;     
    }

    @media screen and (max-width:600px){
        grid-template-columns: repeat(auto-fit,minmax(20rem,25rem));
        grid-auto-rows: auto;
        gap:3rem 1.5rem;
        // padding: 0rem 4rem;
    }
    @media screen and (max-width:350px){
        grid-auto-rows: auto;
        gap:3rem;
    }

    & > *{
        width: 100%;
    }
}

    
