.events-page{
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    padding: 0rem 2rem 0rem 2rem;

    @media screen and (max-width: 800px){
        padding:1rem;
    }
    @media screen and (max-width: 600px){
        padding:0 .5rem;
    }
}

.event-content-all{
    


    @media screen and (max-width:600px){
        margin:4rem 0 10rem ;
    }


}

.top-content{
    display: flex;
    justify-content: center;
    width: 100%;
}

.refresh-svg{
    width: 3rem;
    margin-right: 5rem;
}
.search{
    margin-bottom:2rem;
    width: 20rem;
    
    input,
    input:focus,
    input:active{
        min-width: 20rem;
        font-size: 1.3rem;
        border: none;
        border-bottom: 2px solid #2bace2;
    }

    
}

.event-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    grid-auto-rows: minmax(400px, auto);

    @media screen and (max-width:1024px) {
        gap: 4rem 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:600px){
        grid-template-columns:1fr;
        gap:3rem 1.5rem;
        padding: 0rem 1rem;
    }
    @media screen and (max-width:350px){
        grid-auto-rows: minmax(60vh, auto);
        grid-template-columns: 1fr;
        gap:3rem 1.5rem;
    }

    & > *{
        width: 100%;
    }
}

    
