.nav{
    text-decoration: none;
    display: flex;
    align-items: center;
    position: fixed;
    left:0;
    width: 100%;
    background-color: #01050d;
    fill: #768a92;
    padding: 0.5rem;
    z-index: 200;
    user-select: none;
}
.logo:link, .logo:visited{
    text-decoration: none;
    color: rgb(58, 113, 175);   
}
.bottom-nav, logoSvg{
    bottom: 0;
    justify-content: space-around;
    svg{
        fill: #768a92;
    }
    
}
.top-nav{
    top: 0;
    padding: 0.5rem 1.4rem;
    justify-content: space-between;
    color: rgb(58, 113, 175);   
    font-family: 'Anton', sans-serif;
    letter-spacing: .8rem;
}

.user-pop{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    color: #768a92;
    text-decoration: none;
    letter-spacing: normal;
    svg{
        fill: #768a92;
    }
}

@media screen and (min-width:500px){
    .nav{
        display: none;
    }
}